<div class="team container">
    <h1>Oma joukkue</h1>
    <div class="row">
        <div class="col s12">
            <ul tabs>
                <li class="tab col s4" ng-repeat="team in $ctrl.model.teams track by $index"><a ng-click="$ctrl.selectTab(team)", ng-bind="team.team" /></li>
            </ul>
        </div>
        <div id="test1" class="col s12" ng-if="$ctrl.tabSelected">
            <ul>
                <li ng-repeat="player in $ctrl.tabSelected.players", ng-bind="player.name" />

            </ul>
        </div>

    </div>
    <ul class="left-align">
    </ul>
</div>