<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pelaajapörssi</title>
    <link rel="stylesheet" href="node_modules/angular-materialize/node_modules/node-materialize/bin/materialize.css">

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script>

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


</head>
<body>
<div>
    <header>
        <navigation>
        </navigation>
    </header>
    <section class="page-bg center-align">
        <ng-view></ng-view>
    </section>
    <div id="demoModal" class="modal">
        <div class="modal-content">
            <h2>Omat tiedot</h2>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#/" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <porssi-footer></porssi-footer>

</div>

</body>

</html>